.container {
  height: 3.75rem;
  background-color: #4168b4;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px 0 150px;
  height: 100%;
}
.heading {
  font-size: 1.65rem;
  color: white;
}
.user {
  display: flex;
  align-items: center;
  position: relative;
}
.user:hover {
  cursor: pointer;
}
.profileImage {
  height: 50px;
  width: 50px;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.user p {
  margin: 0 1rem;
  color: white;
}
.dropdownArrow {
  color: white;
}

.user ul {
  margin-top: 12.2rem;
  position: absolute;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 100px;
  background: white;
  left: -30px;
  list-style: none;
  border-radius: 5px;

  transform: translateY(-10px);
  transition: all 0.4s ease;
  padding: 0;
}

.user ul li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user ul li:hover {
  background-color: #4168b4;
  color: white;
  cursor: pointer;
}
